Source: byte-php56-xdebug
Section: web
Priority: optional
Maintainer: Byte Internet (support@byte.nl)
Build-Depends: debhelper (>= 7), byte-php56-dev

Package: byte-php56-xdebug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: php5
Description: Byte PHP XDebug
